<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace必须是接口的全类名  -->
<mapper namespace="com.gt.bookshop.mapper.UserMapper">
	<select id="login" resultType="int" parameterType="user">
		select count(*) from tb_users where loginid=#{loginId} and loginpwd=#{loginPwd}
	</select>

	<select id="getUserById" resultType="user" parameterType="int">
		select * from tb_users where id=#{id}
	</select>

	<select id="getUserByLoginId" resultType="user" parameterType="string">
		select * from tb_users where loginId = #{loginId}
	</select>
</mapper>
